{% import "macros/head.html" as head -%}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  {%- block meta -%}
  <title>alexisjanvier.net</title>
  <meta name="description" content="This is not 'Nam. This is web development. There are rules.">
  {%- endblock meta -%}
  {%- block canonical -%}{%- endblock canonical -%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="{{ get_url(path='style.css') }}">
  <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS" href="{{ get_url(path='rss.xml') }}">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline'; form-action 'self';manifest-src 'self'; base-uri 'self';">
</head>

<body>
  <header>
    <section>
      <div class="site-title">
        <a href="/">alexisjanvier.net</a><br />
        web is not dead it just smells funny.
      </div>
      <div class="search-box">
        <input id="search" type="search" placeholder="Recherche">
      </div>
    </section>
    {{ head::menu() }}
  </header>
  <main role="main">
    {% block content %} {% endblock %}
  </main>
  <footer>
    <a href="https://twitter.com/alexisjanvier" rel="alternate">
      <svg class="icon" viewBox="328 355 335 276">
        <title>Twitter</title>
        <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z" />
      </svg>
    </a>
    <a href="https://github.com/alexisjanvier" rel="alternate">
      <svg class="icon" viewBox="0 0 1024 1024">
        <title>Github</title>
        <path
          d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5C64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9c26.4 39.1 77.9 32.5 104 26c5.7-23.5 17.9-44.5 34.7-60.8c-140.6-25.2-199.2-111-199.2-213c0-49.5 16.3-95 48.3-131.7c-20.4-60.5 1.9-112.3 4.9-120c58.1-5.2 118.5 41.6 123.2 45.3c33-8.9 70.7-13.6 112.9-13.6c42.4 0 80.2 4.9 113.5 13.9c11.3-8.6 67.3-48.8 121.3-43.9c2.9 7.7 24.7 58.3 5.5 118c32.4 36.8 48.9 82.7 48.9 132.3c0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9c177.1-59.7 304.6-227 304.6-424.1c0-247.2-200.4-447.3-447.5-447.3z" />
        <rect x="0" y="0" width="1024" height="1024" fill="rgba(0, 0, 0, 0)" />
      </svg>
    </a>
  </footer>
</body>

</html>