{% import "macros/head.html" as head -%}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  {%- block meta -%}
  <title>alexisjanvier.net</title>
  <meta name="description" content="This is not 'Nam. This is web development. There are rules.">
  {%- endblock meta -%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS" href="{{ get_url(path='rss.xml') }}">
</head>

<body>
  <header>
    <section>
      <div><a href="/">alexisjanvier.net</a><br />
        This is not 'Nam.<br />
        This is web development. There are rules.</div>
    </section>
    {{ head::menu() }}
  </header>
  <main role="main">
    {% block content %} {% endblock %}
  </main>
  <footer>Pied de page</footer>
</body>

</html>