{% import "macros/taxonomies.html" as taxonomies %}
{% extends "base.html" %}

{%- block meta -%}
<title>{{ page.title }} - alexisjanvier.net</title>
<meta name="description" content="{{ page.description }}">
{%- endblock meta -%}

{%- block canonical -%}
{%- if page.extra.marmelab is defined -%}
<link rel=”canonical” href=”{{ page.extra.marmelab }}” />
{%- endif -%} 
{%- endblock canonical -%}

{% block content %}
<article class="blog">
  <h1>
    {{ page.title }}
  </h1>
  <p class="date">
    Publié le {{ page.date }}{%- if page.extra.marmelab is defined -%},&nbsp;à l'origine sur <a href="{{ page.extra.marmelab }}">marmelab.com</a>{%- endif -%}
  </p>
  {{ taxonomies::tags(tags=page.taxonomies.tags) }}
  {{ page.content | safe }}
</article>
{% endblock content %}