{% extends "base.html" %}

{%- block meta -%}
<title>{{ section.title }} - alexisjanvier.net</title>
<meta name="description" content="{{ section.description }}">
{%- endblock meta -%}

{% block content %}
<article>
<h1 class="title">
  {{ section.title }}
</h1>

  {% for page in section.pages %}
  <section class="post-item">
  <h2>{{ page.title }}</h2>
  <p class="post-date">Présenté le {{ page.date }}</p>
  <p class="post-description">{{ page.content | safe }}</p>
  </section>
  {% endfor %}

</article>
{% endblock content %}