{% extends "base.html" %}

{% block content %}
<article>
    <h1 class="title">Uses</h1>
    <section>
        <h2>Le materiel</h2>
        <p>Je travaille sur un Lenovo T470p connecté à un dock. J'ai une webcam logitech C920 avec micro, une souris
            ergonomique logitech MX Vertical et une imprimante/scanner laser noir et blanc Brother DCP-L2510D.</p>
        <p>Mon bureau me permet d'être debout ou assis, j'essaye d'alterner les deux positions toutes les heures lors
            d'une journée de travail.<br />En position debout, j'ai un écran 24" Acer GN246HL et un clavier Cherry MX
            Board.<br />En position assise, j'ai un écran 28" Asus PB287Q et un clavier HHKB Classic.<br />Mes claviers
            sont en disposition <a href="https://colemak.com/">Colemak</a>.</p>
        <p>J'ai NAS Synology pour effectuer mes sauvegardes qui est lui-même sauvegardé chez <a href="https://www.infomaniak.com/fr/swiss-backup">Infomaniak</a>.</p>
        <img src="/desk2.jpg" alt="Mon bureau assis/debout" />
    </section>
    <section>
        <h2>L'immatériel</h2>
        <p>Mon laptop est sous <a href="https://ubuntu.com/download/desktop">Ubuntu</a> (20.04.2 LTS). J'y passe le plus clair de mon temps sur un terminal, en l'occurence <a href="https://sw.kovidgoyal.net/kitty/index.html">Kitty</a> (il est très rapide et gère les ligatures) avec la police <a href="https://medium.com/@philpl/what-sets-dank-mono-apart-1bbdc1cc3cbd">Dank Mono</a> et un thème custom inspiré de <a href="https://github.com/NLKNguyen/papercolor-theme">Papercolor</a>. J'utilise aussi <a href="https://doc.ubuntu-fr.org/zsh">Zsh</a> avec <a href="https://ohmyz.sh/">Oh My Zsh</a> avec un prompt géré par <a href="https://starship.rs/fr-fr/">Starship</a>.</p>
        <img src="/console.jpg" alt="Ma console" />
        <p>Je code avec <a href="https://neovim.io/">Neovim</a> auquel j'ai ajouté pas mal de plug-ins (avec <a href="https://github.com/junegunn/vim-plug">vim-plug</a>) dont les principaux sont : <a href="https://github.com/preservim/nerdtree">nerdtree</a>, <a href="https://github.com/tpope/vim-surround">vim-surround</a>, <a href="https://github.com/neoclide/coc.nvim">coc</a> et <a href="https://github.com/junegunn/fzf.vim">fzf</a>. Les deux autres outils absolument nécessaires à mon quotidien sont <a href="https://git-scm.com/">Git</a> et <a href="https://www.docker.com/">Docker</a>, mais j'utilise aussi régulièrement <a href="https://insomnia.rest/">Insomnia</a> et <a href="https://dbeaver.io/">DBeaver</a>.</p>
        <p>Mon premier choix de navigateur web est <a href="https://www.mozilla.org/fr/firefox/new/">Firefox</a> même si Chrome est souvent ouvert par pragmatisme. J'utilise <a href="https://www.thunderbird.net/fr/">Thunderbird</a> pour mes mails et mes agendas. Je gère mes mots de passe avec <a href="https://bitwarden.com/">Bitwarden</a>. J'écris mes notes et mes posts de blog en <a href="https://daringfireball.net/projects/markdown/">Markdown</a> avec <a href="https://code.visualstudio.com/">VSCode</a>. Je fais mes captures d'écran avec <a href="https://framalibre.org/content/kazam">Kazam</a> et j'utilise <a href="https://www.openshot.org/fr/">OpenShot</a> pour faire des montages vidéo.  Je redimensionne et compresse mes images avec <a href="https://squoosh.app/">Squoosh</a>. Et je lance tous ces softs graphiques avec <a href="https://github.com/albertlauncher/albert">Albert</a>.</p>
    </section>
</article>
{% endblock content %}