{% extends "base.html" %}

{% block content %}
<article>
    <h1 class="title">Uses</h1>
    <section>
        <h2>Le materiel</h2>
        <p>Je travaille sur un Lenovo T470p connecté à un dock. J'ai une webcam logitech C920 avec micro, une souris
            ergonomique logitech MX Vertical et une imprimante/scanner laser noir et blanc Brother DCP-L2510D.</p>
        <p>Mon bureau me permet d'être debout ou assis, j'essaye d'alterner les deux positions toutes les heures lors
            d'une journée de travail.<br />En position debout, j'ai un écran 24" Acer GN246HL et un clavier Cherry MX
            Board.<br />En position assise, j'ai un écran 28" Asus PB287Q et un clavier HHKB Classic.<br />Mes claviers
            sont en disposition <a href="https://colemak.com/">Colemak</a>.</p>
        <p>J'ai NAS Synology pour effectuer mes sauvegardes qui est lui-même sauvegardé chez <a href="https://www.infomaniak.com/fr/swiss-backup">Infomaniak</a>.</p>
        <img src="/desk2.jpg" alt="Mon bureau assis/debout" />
    </section>
</article>
{% endblock content %}